button{
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
}
::-webkit-scrollbar-button {
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 6px;
    z-index: 67676686868;
    position: absolute;
    float: left;  
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 0px;
    background: #888888;
    
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #202638; 
    border-radius: 0px;
    min-width:6px;
    max-width: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #202638; 
  }
  .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    min-height: 6px;
    max-height: 6px;
  }
  .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
    min-width: 6px;
    max-width: 6px;
  }